<div class="parallax">
  <div id="intro" align="center">
    <p>Life's Treasures Need to be Enjoyed!</p>
  </div>

  <a id="down" href="#content"></a>

</div>

<div class="container" id="content">
  <p id="title">Time to Eat!</p>
  <div class="row" id="firstRow">

    <div class="col s5 offset-s1" id="available">
      <h6 id="buDev" align="center">Don't they look so good?</h6>
      <ul class="row">
        {{#each burgers}}
          {{#unless devoured}}
            <li class="col s7" id="addedBur"><span>» </span>{{burgerName}}</li>

            <button class="devoured col s4 offset-s1" data-id="{{id}}">Devour It!</button>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col s5" id="taken">
      <h6 id="buDev" align="center">Burgers that have already been devoured!</h6>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li><span>ᗧ </span><span id="textdec">{{burgerName}}</span></li>
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>

  <div id="addBurger">
    <p>Add a Burger</p>
    <form class="create-form">

      <div class="form-group" id="newInput">
        <label for="bN" id="addlabel">New Burger Name:</label>
        <input type="text" id="newName" name="name">
      </div>

      <button type="submit" id="addBtn">Add burger</button>
    </form>
  </div>

</div>


